services:
  app:
    env_file:
      - bin/.env
    command: bash -c "cp -rn .docker/templates/v${TYPO3:-12}/* . && composer install && apache2-foreground"
    build:
      context: ..
      args:
        - APACHE_DOCUMENT_ROOT=/var/www/html/public/
        - USER_ID=${USER_ID:-1000}
        - GROUP_ID=${GROUP_ID:-1000}
    environment:
      - XDEBUG_MODE=${XDEBUG_MODE:-debug}
      - XDEBUG_CONFIG=client_host=host.docker.internal client_port=9003
      - XDEBUG_SESSION=1
      - PHP_IDE_CONFIG=serverName=bootstrap_grids
      - TYPO3_CONTEXT=Development/BootstrapGrids/Docker
    volumes:
      - '../:/var/www/html'
    ports:
      - '8080:80'
    extra_hosts:
      - host.docker.internal:host-gateway
