<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="Main">
    <f:if condition="{children}">
        <div class="row {data.flexform_rowValign} {data.flexform_rowHalign} {data.flexform_rowCustom}">
            <f:for each="{children}" as="columns" key="rowNumber">
                <f:if condition="{columns}">
                    <f:render partial="BootstrapGridsColumn" arguments="{contentElements: columns.101, class: '{data.flexform_xsCol1} {data.flexform_smCol1} {data.flexform_mdCol1} {data.flexform_lgCol1} {data.flexform_xlCol1} {data.flexform_col31class}', options: options, settings: settings}"/>
                    <f:render partial="BootstrapGridsColumn" arguments="{contentElements: columns.102, class: '{data.flexform_xsCol2} {data.flexform_smCol2} {data.flexform_mdCol2} {data.flexform_lgCol2} {data.flexform_xlCol2} {data.flexform_col32class}', options: options, settings: settings}"/>
                    <f:render partial="BootstrapGridsColumn" arguments="{contentElements: columns.103, class: '{data.flexform_xsCol3} {data.flexform_smCol3} {data.flexform_mdCol3} {data.flexform_lgCol3} {data.flexform_xlCol3} {data.flexform_col33class}', options: options, settings: settings}"/>
                </f:if>
            </f:for>
        </div>
    </f:if>
</f:section>

</html>